
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478937036053'); /* IE9*/
  src: url('iconfont.eot?t=1478937036053#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478937036053') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478937036053') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478937036053#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongsi:before { content: "\343d"; }

.icon-qq:before { content: "\e606"; }

.icon-wechat:before { content: "\e600"; }

.icon-list:before { content: "\e8a6"; }

.icon-mobile:before { content: "\e68b"; }

.icon-me:before { content: "\e604"; }

.icon-down:before { content: "\e636"; }

.icon-map:before { content: "\e68c"; }

.icon-card:before { content: "\e62e"; }

.icon-xuexiao:before { content: "\e633"; }

.icon-relation:before { content: "\e6bd"; }

.icon-zhiwei:before { content: "\e627"; }

.icon-jiangzhang:before { content: "\e6c6"; }

.icon-shenfenrenzheng:before { content: "\e629"; }

