<div class="show-customer-ms hidden panel panel-primary">
  <div class="panel-body">
    <div class="customer-info-message">
      <div class="title">
        <div class="name col-xs-6">门市沟通 <a href="../menshi/add.html" class="btn btn-warning btn-xs hidden" id="show-ms-modify">修改</a></div>
        <div class="user-info col-xs-6">
          <p class="username">
            <span class="replace-data" data-name="ms-shop-name"></span>
            ：
            <span class="replace-data" data-name="ms-username"></span>
          </p>
          <p class="date">
            <span class="replace-data" data-name="ms-order-time"></span>
          </p>
        </div>
      </div>
      <div class="info">
        <div class="item col-xs-12">
					<div class="name">门店沟通记录</div>
					<div class="msg min-height-40">
						<span class="replace-data" data-name="ms-customer-record"></span>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>