<link rel="import" href="head-iframe.html?__inline">

<div class="container">
	<div class="map-head"><span class="vertical-line"></span>客资详情</div>
  <link rel="import" href="detail-operations.html?__inline">
  <link rel="import" href="detail-status.html?__inline">
  <p class="margin-top-10">客资详细情况</p>
  <link rel="import" href="detail-zhuake.html?__inline">
  <link rel="import" href="detail-yaoyue.html?__inline">
  <link rel="import" href="detail-menshi.html?__inline">
</div>

<link rel="import" href="detail-js.html?__inline">

<link rel="import" href="foot-iframe.html?__inline">