<div class="has-menshi hidden panel panel-primary">
  <div class="panel-body">
    <div class="customer-info-message">
      <div class="title">
        <div class="name col-xs-6">门店门市沟通记录</div>
        <div class="user-info col-xs-6">
          <p class="username">
            <span class="replace-data" data-name="ms-shop-name">新凯旋店</span>
            ：
            <span class="replace-data" data-name="ms-username">大卫</span>
          </p>
          <p class="date">
            <span class="replace-data" data-name="ms-order-time">2016-09-09 18:00</span>
          </p>
        </div>
      </div>
      <div class="info">
        <div class="item col-xs-12">
					<div class="name">门店沟通记录</div>
					<div class="msg">
						<span class="replace-data" data-name="ms-customer-record">抓客客服沟通记录1<br> 抓客客服沟通记录2</span>
					</div>
				</div>
      </div>
    </div>
  </div>
</div>