<div class="panel panel-primary">
	<div class="panel-body">
		<div class="customer-info-message">
			<div class="title">
				<div class="name col-xs-6">抓客资料</div>
				<div class="user-info col-xs-6">
					<p class="username">抓客组：小敏</p>
					<p class="date">2016-09-09 18:00</p>
				</div>
			</div>
			<div class="info">
				<div class="item col-xs-6">
					<span class="name col-xs-2">称呼</span>
					<span class="msg col-xs-10">对客户的称呼</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">手机</span>
					<span class="msg col-xs-10">12345678901</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">渠道</span>
					<span class="msg col-xs-10">渠道</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">微信</span>
					<span class="msg col-xs-10">微信阿萨德</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">地区</span>
					<span class="msg col-xs-10">江苏</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">QQ</span>
					<span class="msg col-xs-10">13447823</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">类别</span>
					<span class="msg col-xs-10">123123</span>
				</div>
				<div class="item col-xs-6">
					<span class="name col-xs-2">身份</span>
					<span class="msg col-xs-10">新郎</span>
				</div>
				<div class="item col-xs-12">
					<div class="name">抓客客服沟通记录</div>
					<div class="msg">
						抓客客服沟通记录1<br> 抓客客服沟通记录2
					</div>
				</div>
			</div>
		</div>
	</div>
</div>