    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/app.js"></script>

    <script>
      function changeFrameHeight(this){
          this.height=document.documentElement.clientHeight;
      }
      window.onresize=function(){  
          changeFrameHeight();  
      }
    </script>
  </body>
</html>